.justForFun {
	font-size: 24px;
	line-height: 35px;
	color:cornflowerblue;
	padding:50px;
	background-color:#c2fcf3;
	text-shadow:5px 5px 5px;
}
body {
	background-color:#c2fcf3; 
}
.sidePic {
	width: 300px;
	height:auto;
}